.jumbotron {
  background-color: gray;
  color: black;
}
.btn {
  color: black;
}

footer {
  padding: 10px 10px 0 20px;
  background-color: gray;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-dr {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;

}
